html, body {
  height: 100%;
}
body {
  width: 100%;
  margin: 0;
  font-family: "Josefin Slab", serif;
  color: #f7484e;
  background: url(flowers.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;

}

#nav-left {
  float: right;
  height: 100%;
  position: absolute;
}


#nav-right {
  float: right;
  height: 100%;
  position: relative;
}

.slideout-left {
  width: 69%;
  height: 100%;
  z-index: 1;
  background-color: black;
  position: relative;
  float: right;
  padding: 4%;
  display: none;
  top: 0;
}

.slideout-right {
  width: 69%;
  height: 100%;
  z-index: 1;
  background-color: black;
  position: relative;
  float: left;
  display: none;
  transition: all 2s ease 0s;
  top: 0;
  padding: 4%;
}

.slideout-right.active {
  height: auto;
}

.closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    color: #FFB6C1;
}

.left-btn {
  padding-left: 87%;
}

.nav {
  width: 100vh;
  position: fixed;
  background-color: white;
  color: #545353;
  box-shadow: .1px .001px 20px #545353;
}

.left {
  display: flex;
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  padding: 3%;
  justify-content: center;
}

.right {
  display: flex;
  -webkit-transform-origin: right top;
  -webkit-transform: rotate(90deg) translateX(100%);
  right: 0;
  padding: 3%;
  justify-content: center;
}

.left:hover, .right:hover {
  background-color: #fff5ee;
}

ul li {
  list-style: none;
  font-size: 130%
}

ul li:hover {
    text-decoration: underline;
}

.main-content {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1
}
.header {
  align-items: center;
}
h1 {
  font-size: 350%;
  color: white;
  width: 100%;
}

.subheadings {
  font: 130%/1.6 'Open Sans Condensed', sans-serif;
  color: white;
}

.slash {
  color: #ffa9bb;
}

.contact {
  color: white;
}


i {
  margin-right: 20px;
}

.fa:hover {
  color: #FFB6C1;
}

a{
  text-decoration:none;
  color:inherit;
}

.nav-right-text {
  text-align: right;
}
