*{
  display: flex;
}
html, body {
  height: 100%;
  align-items: stretch;
}
body {
  width: 100%;
  font-family: "Josefin Slab", serif;
  color: #f7484e;
  background: url(flowers.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
}
.nav {
  width: 100vh;
  position: fixed;
  background: linear-gradient(to top, #fef2fa 0%,#ffa9cb 100%);
  color: #545353;
}
.left {
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
  left: 0;
  padding: 3%;
  justify-content: center;
}
.right {
  -webkit-transform-origin: right top;
  -webkit-transform:rotate(90deg) translateX(100%);
  right: 0;
  padding: 2%;
  justify-content: center;
}
ul li {
  list-style: none;
  font-size: 130%
}
ul li:hover {
    text-decoration: underline;
}
.header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 90%;
  width: 100%;
}
h1 {
  font-size: 350%;
  color: white;
}
.subheadings {
  font: 130%/1.6 'Open Sans Condensed', sans-serif;
  color: #545353;
}
.slash {
  color: #f7484e;
}
i {
  margin-right: 20px;
}
a{
  text-decoration:none;
  color:inherit;
}
.contact {
  justify-content: center;
  align-items: flex-end;
  padding-right: 40%
}
.fa:hover {
  color: #FFB6C1;
}
